/*Reset and common style*/

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Jost", sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading {
    font-size: 5rem;
    color: rgb(138, 245, 161);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 15rem;
    border-bottom: 0.3rem solid rgb(48, 250, 115);
    text-shadow: 0.2rem 0.2rem 0.5rem rgb(31, 148, 60);
}

body.index {
    background-image: url(images/bg23.jpg);
    background-size: cover;
    background-attachment: fixed;
}

:root {
    --clr--one: rgb(255, 13, 65);
    --clr--two: #e67487;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*end of reset and common style*/

.header {
    max-width: 3rem;
    margin: 1rem;
    object-position: center;
    object-fit: cover;
    align-items: center;
    padding: 1rem;
    position: absolute;
}


/* Navbar */

.navbar {
    width: 100%;
    height: 4rem;
    background-color: #aaa;
    box-shadow: 0.2rem 0.2rem 0.5rem #555;
    position: center;
    z-index: 300;
}

.navbar-center {
    width: 100%;
    padding: 1rem;
    height: 4rem;
    text-align: center;
    object-position: center;
}

.sticky {
    position: fixed;
    top: 0;
}

.navbar-link {
    font-size: 1.7rem;
    font-weight: 600;
    color: #333;
    margin: 0 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
}

.navbar-link:hover {
    color: #fff;
}

.change.navbar-link::before {
    width: 130%;
}

.navbar-link:hover::before {
    width: 130%;
}


/*section 1*/

.section-1 {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 4rem;
}

.section-1-heading {
    width: 45rem;
    font-weight: 700;
    text-align: center;
    align-items: center;
    color: white;
    padding: 0.5rem;
    margin-bottom: 5rem;
    background-color: var(--clr--one);
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-bottom: 0.3rem solid #ffffff;
    text-shadow: 0.2rem 0.2rem 1;
    position: relative;
    top: 80px;
}

.person-img {
    width: 33rem;
    height: 33rem;
    image-resolution: 100%;
    align-items: left;
    object-fit: cover;
    border-radius: 100%;
    border: 1.3rem var(--clr--one);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    opacity: .9rem;
    position: relative;
    top: 100px;
}

.person-name {
    font-size: 4rem;
    font-weight: 700;
    color: var(--clr--one);
    margin: 0.5rem 0;
    padding: 1rem 0.3rem;
    letter-spacing: 0.3rem;
    position: relative;
    top: 82px;
}

.section-1-btn {
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    border: 0.2rem solid #333;
    background-color: var(--clr--one);
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}


/*end of section1*/


/*section 2*/

.section-2 {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2-heading {
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 5rem;
    border-bottom: .3rem solid #ffffff;
    text-shadow: .2rem .2rem .5rem #555;
}

.progress-bars-wrapper {
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 5rem;
    text-shadow: .2rem .2rem .5rem #555;
    text-align: center;
}

.progress-bar table td {
    text-align: justify;
    width: 300%;
    border-collapse: collapse;
}

.progress-bar td {
    padding: 10px
}

.services {
    width: 30%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service {
    text-align: center;
}

.service:first-child,
.service:last-child {
    align-self: flex-start;
}

.service i {
    font-size: 4rem;
    margin-bottom: 4rem;
    border: 2rem 2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem rgb(197, 46, 46);
}

.service h2 {
    font-size: 2rem;
    font-style: oblique;
    color: #fff;
    background: transparent;
    width: 20rem;
    letter-spacing: 0.3rem;
    border-radius: 20px;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(110, 11, 11);
}


/*end of section2*/


/* Section 3 */

.section-3 {
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3-heading {
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    border-bottom: .3rem solid #ffffff;
    text-shadow: .2rem .2rem .5rem #555;
}

.projects-wrapper {
    width: 80%;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: 5rem 10rem;
    margin: 1rem;
    background-color: #fff;
    box-shadow: 0.3rem 0.3rem 0.5rem #777;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.5s;
}

.project:hover {
    box-shadow: 1rem 1rem 1rem #777;
}

.project-text {
    text-align: center;
    letter-spacing: 0.1rem;
    position: absolute;
    top: -10rem;
    z-index: 10;
    transition: top 0.3s;
}

.project:hover .project-text {
    top: 5rem;
    transition: top 0.3s 0.3s;
}

.project-name {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    text-transform: capitalize;
}

.project-technologies {
    font-size: 1.8rem;
    color: #e67487;
}

.project-img {
    size: 100%;
    width: 40rem;
    height: 25rem;
    transition: opacity 0.3s;
}

.project:hover .project-img {
    opacity: 0.2;
}

.project-link {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.1rem;
    border: 0.3rem solid #e67487;
    padding: 0 1rem;
    background-color: #fff;
    position: absolute;
    bottom: -5rem;
    transition: bottom 0.3s;
}

.project:hover .project-link {
    bottom: 5rem;
    transition: bottom 0.3s 0.3s;
}


/* End of Section 3 */


/* Section 4 */

.section-4 {
    width: 100%;
    height: 70vh;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-4-heading {
    color: #fff;
    box-shadow: none;
    margin: 10rem;
    border-color: #fff;
    margin-bottom: 5rem;
}

.contact-form {
    width: 50rem;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #eef;
    font-size: 1.5rem;
    border: 0.2rem solid #e67487;
    color: #555;
}

.contact-form textarea {
    height: 10rem;
    max-height: 15rem;
    max-width: 100%;
}

.contact-form .contact-form-btn {
    background-color: #e67487;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1rem;
    cursor: pointer;
}


/* End of Section 4 */


/* Section 5 */

.section-5 {
    width: 100%;
    height: 30vh;
    background-color: #222;
    flex-direction: column;
}

.social-media {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.social-media-link {
    margin: 0 2rem;
    padding: 0.7rem;
    background-color: #e67487;
    border-radius: 0.5rem;
    display: inline-block;
}

.social-media-link i {
    font-size: 3rem;
    color: #fff;
}

.copyright {
    color: #aaa;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
    text-align: center;
}

body.project {
    background-image: url(images/bg23.jpg);
    background-size: cover;
    background-attachment: fixed;
}


/* End of Section 5 */


/* Responsive */

@media (max-width: 1200px) {
    .services {
        height: auto;
        flex-wrap: wrap;
    }
    .service {
        margin: 3rem 2rem;
    }
    .section-4 {
        height: 80vh;
    }
}

@media (max-width: 800px) {
    .section-1-heading {
        font-size: 4rem;
    }
    .progress-bar {
        width: 50rem;
    }
}

@media (max-width: 600px) {
    .section-1-heading {
        font-size: 3rem;
    }
    .navbar-link {
        margin: 0 2rem;
        font-size: 1.5rem;
    }
    .section-2 {
        padding: 10rem;
    }
    .section-2-heading {
        margin-bottom: 10rem;
    }
    .progress-bar {
        width: 45rem;
    }
    .project-img {
        width: 100%;
    }
    .contact-form {
        width: 40rem;
    }
    .copyright {
        width: 70%;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 45%;
    }
    .section-1-heading {
        font-size: 2.5rem;
    }
    .navbar-link {
        margin: 0 1.5rem;
    }
    .section-2-heading {
        text-align: center;
    }
    .progress-bar {
        width: 40rem;
    }
}


/* End of Responsive */